In [1]:
# Eu tenho que:

# 1 - Criar diferentes dataframes para os 4 times que quero analisar: Botafogo, Corinthians, Coritiba e Santos
# 2 - Jogar os dados dos jogos desses times times (como visitante ou mandante) para os seus dataframes 
# 3 - juntar a data de uma forma que o python reconheça a sequência (Criar uma nova coluna na planilha para fazer isso)
# 4 - Criar uma coluna nova no dataframe com o nome do técnico  do time na época
# 5 - Criar uma iteração para, de acordo com a data do jogo, dar o nome do técnico na época
# 6 - Fazer a média de pontos de cada técnico no time. 
# 7 - Fazer um teste de hipóteses para saber SE é possível afirmar em um nível de significância de 5% que houve melhoria na pontuação
# do time com a mudança

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'Dados Serie A.csv')

In [6]:
# Limpar a tabela: 
# Retirar a primeira coluna e criar uma nova chamada "Rodada"
# Retirar a coluna "Temporada"
# Colocar a data em formato datetime

In [7]:
df = df.drop(columns=['Unnamed: 0', 'temporada'])

In [8]:
df

,dia_numero,mes,ano,mandante,visitante,gol_mandante,gol_visitante,ponto_mandante,ponto_visitante
0,16,Abril,2023,Flamengo - RJ,Coritiba S.a.f. - PR,3,0,3,0
1,15,Abril,2023,Botafogo - RJ,São Paulo - SP,2,1,3,0
2,15,Abril,2023,Palmeiras - SP,Cuiabá Saf - MT,2,1,3,0
3,16,Abril,2023,Corinthians - SP,Cruzeiro Saf - MG,2,1,3,0
4,15,Abril,2023,Red Bull Bragantino - SP,Bahia - BA,2,1,3,0
...,...,...,...,...,...,...,...,...,...
375,6,Dezembro,2023,Cruzeiro Saf - MG,Palmeiras - SP,1,1,1,1
376,6,Dezembro,2023,Internacional - RS,Botafogo - RJ,3,1,3,0
377,6,Dezembro,2023,Coritiba S.a.f. - PR,Corinthians - SP,0,2,0,3
378,6,Dezembro,2023,Bahia - BA,Atlético Mineiro Saf - MG,4,1,3,0
379,6,Dezembro,2023,Cuiabá Saf - MT,Athletico Paranaense - PR,3,0,3,0

In [22]:
df['mes'] = df['mes'].str.strip()

In [25]:
# Mapeando os nomes dos meses para números de 1 a 12
meses = {
    'Janeiro': 1,
    'Fevereiro': 2,
    'Março': 3,
    'Abril': 4,
    'Maio': 5,
    'Junho': 6,
    'Julho': 7,
    'Agosto': 8,
    'Setembro': 9,
    'Outubro': 10,
    'Novembro': 11,
    'Dezembro': 12
}

# Criando uma nova coluna 'mes_int' com o número do mês
df['mes_int'] = df['mes'].map(meses)

In [29]:
df['Data'] = pd.to_datetime(df['dia_numero'].astype(str) + '-' + df['mes_int'].astype(str) + '-' + df['ano'].astype(str), format='%d-%m-%Y')

In [31]:
# Salvando a série da coluna 'Data'
coluna_data = df.pop('Data')

# Inserindo a coluna 'Data' na primeira posição
df.insert(0, 'Data', coluna_data)

In [ ]:
df = df.drop(columns=['dia_numero', 'mes', 'ano', 'mes_int'])

In [40]:
df['mandante'].unique()

array(['Flamengo - RJ', 'Botafogo - RJ', 'Palmeiras - SP',
       'Corinthians - SP', 'Red Bull Bragantino - SP',
       'Atlético Mineiro Saf - MG', 'Grêmio - RS',
       'Athletico Paranaense - PR', 'Fortaleza - CE', 'América Saf - MG',
       'Fluminense - RJ', 'Vasco da Gama S.a.f. - RJ', 'São Paulo - SP',
       'Santos - SP', 'Goiás - GO', 'Cruzeiro Saf - MG',
       'Internacional - RS', 'Coritiba S.a.f. - PR', 'Bahia - BA',
       'Cuiabá Saf - MT'], dtype=object)

In [41]:
# Lista dos times
times = ['Botafogo - RJ', 'Corinthians - SP', 'Santos - SP', 'Coritiba S.a.f. - PR']

# Dicionário para armazenar os DataFrames de cada time
jogos_times = {}

# Iterar sobre os times
for time in times:
    # Filtrar os jogos em que o time é mandante ou visitante
    jogos_time = df[(df['mandante'] == time) | (df['visitante'] == time)]
    
    # Salvar o DataFrame do time no dicionário
    jogos_times[time] = jogos_time

In [1]:
#Separando os dataframes de cada time

jogos_botafogo = jogos_times['Botafogo - RJ'].copy()
jogos_corinthians = jogos_times['Corinthians - SP'].copy()
jogos_santos = jogos_times['Santos - SP'].copy()
jogos_coritiba = jogos_times['Coritiba S.a.f. - PR'].copy()

NameError: name 'jogos_times' is not defined

In [50]:
# # Atribuindo um Técnico para cada jogo dos times
# Botafogo
Luis Castro = de 28/03/2022 a 30/06/2023
Claudio Caçapa = de 01/07/2023 a 15/07/2023
Bruno Lage = de 16/07/2023 a 03/10/2023
Lucio Flávio = de 04/10/2023 a 12/11/2023
Tiago Nunes = de 16/11/2023 a 22/02/2024

# Corinthians
# Fernando Lázaro = 20/11/2022 a 20/04/2023
# Vanderlei Luxemburgo = 01/05/2023 a 27/09/2023
# Mano Menezes = 28/09/2023 a 05/02/2024

Santos
Odair Hellmann = de 16/11/2022 a 22/06/2023
Paulo Turra = de 26/06/2023 a 06/08/2023
Diego Aguirre = de 07/08/2023 a 15/09/2023
Marcelo Fernandes = de 16/09/2023 a 07/12/2023

# Coritiba 
Antônio Oliveira = de 13/12/2022 a 18/04/2023
Antônio Carlos Zago = 24/04/2023 a 26/06/2023
Thiago Kosloski = de 28/06/2023 a 27/11/2023
Guto Ferreira = de 30/11/2023 a 20/04/2024

# # df["Técnico"] =

<class 'pandas.core.frame.DataFrame'>